@import "../../styles/common.scss";

.RoomDetail {
  .clickBtn {
    background-color: white;
    color: $font-color-black;
    border: 1px solid $font-color-black;
    border-radius: 8px;
    font-weight: 600 !important;
    padding: 13px 23px !important;
    font-size: 16px;
  }

  .clickBtn:hover {
    background-color: $border-color;
  }

  .hederLineHeader {
    display: flex;
    justify-content: center;

    .hederLineHeaderBox {
      padding: 0px 80px;
      .headerLine {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 1115px;
        padding-top: 24px;

        .titleName {
          font-weight: bolder;
          font-size: 26px;
          height: 30px;
        }

        .titleBox {
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 30px;

          .headerScorePlace {
            display: flex;
            justify-content: flex-start;
            font-size: 14px;
            .score {
              font-weight: 700;
            }
            .place {
              color: gray;
            }
          }

          .headerIconLine {
            display: flex;
            justify-content: flex-end;
            font-size: 14px;
            font-weight: 700px;

            .headerShereIconBox {
              display: flex;
              justify-content: flex-start;
              padding: 8px;
              align-items: center;

              .headerIconBtn {
                cursor: pointer !important;
                display: inline-block !important;
                margin: 0px -8px !important;
                position: relative !important;
                text-align: center !important;
                width: auto !important;
                touch-action: manipulation !important;
                font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
                font-size: 14px !important;
                line-height: 18px !important;
                font-weight: 600 !important;
                border-radius: 8px !important;
                outline: none !important;
                padding: 8px !important;
                transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s,
                  transform 0.1s ease 0s !important;
                border: none !important;
                background: transparent !important;
                color: rgb(34, 34, 34) !important;
                text-decoration: underline !important;

                .star {
                  .headerShereIcon {
                    width: 16px;
                    height: 16px;
                  }
                }

                .starText {
                  .headerShereIconText {
                  }
                }
              }
            }

            .headerStorageIconBox {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              padding: 8px;

              .headerIconBtn {
                cursor: pointer !important;
                display: inline-block !important;
                margin: 0px -8px !important;
                position: relative !important;
                text-align: center !important;
                width: auto !important;
                touch-action: manipulation !important;
                font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
                font-size: 14px !important;
                line-height: 18px !important;
                font-weight: 600 !important;
                border-radius: 8px !important;
                outline: none !important;
                padding: 8px !important;
                transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s,
                  transform 0.1s ease 0s !important;
                border: none !important;
                background: transparent !important;
                color: rgb(34, 34, 34) !important;
                text-decoration: underline !important;

                .heart {
                  .headerStorageIcon {
                    width: 16px;
                    height: 16px;
                  }
                }

                .heartText {
                  .headerStorageIconText {
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .sliderHeaderContainer {
    .sliderHeader {
      display: flex;
      justify-content: center;
      .imgSliderBox {
        padding-left: 80px !important;
        padding-right: 80px !important;
        padding-top: 10px;
        max-width: 1280px !important;
        display: flex;
        justify-content: center;

        .imgSliderBig {
          .imgBig {
            width: 557px;
            height: 557px;
            object-fit: cover;
            vertical-align: bottom;
          }
        }

        .imgSlider {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          overflow: hidden;

          .imgSmall1 {
            object-fit: cover;
            width: 280px;
            height: 280px;
            border: 0 solid transparent;
            border-width: 0 10px 10px 0;
            margin-left: 10px;
          }

          .imgSmall2 {
            width: 280px;
            height: 280px;
            border: 0 solid transparent;
            border-width: 0 10px 10px 0;
            object-fit: cover;
          }

          .imgSmall3 {
            width: 280px;
            height: 285px;
            border: 0 solid transparent;
            border-width: 0 10px 10px 0;
            margin-left: 10px;
            object-fit: cover;
          }

          .imgSmall4 {
            width: 280px;
            height: 285px;
            border: 0 solid transparent;
            border-width: 0 10px 10px 0;
            object-fit: cover;
          }
        }
      }
    }

    .articleContainer {
      display: flex;
      justify-content: center;

      .interval {
        padding-left: 80px !important;
        padding-right: 80px !important;
        max-width: 1280px !important;

        .intervalBox {
          width: 58.3333% !important;
          margin-left: 0% !important;
          margin-right: 0% !important;

          .middleTitle {
            display: flex;
            justify-content: space-between;
            padding-top: 15px;
            padding-bottom: 24px;
            border-bottom: 1px solid gainsboro;

            .middleTitleBox {
              .introduction {
                font-size: 22px;
                margin-bottom: 8px !important;
                font-weight: bolder;
              }

              .middleTitleBoxExplain {
                font-size: 16px;
              }
            }

            .middleTitleBoxImg {
              .middleTitleUserImg {
                width: 56px;
                height: 56px;
                border-radius: 30px;
              }
            }
          }

          .houseExplain {
            padding: 32px;
            border-bottom: 1px solid gainsboro;

            .testBox {
              .ExplainBox {
                display: flex;
                justify-content: flex-start;
                margin-bottom: 24px;

                .house {
                  margin-bottom: 24px !important;

                  .explainIcon {
                    width: 24px;
                    height: 24px;
                  }
                }

                .ExplainText {
                  display: flex;
                  flex-direction: column;
                  margin-left: 16px;

                  .explainTitle {
                    font-weight: 700;
                    font-size: 16px;
                    margin: 0px 0px 4px;
                  }

                  .explainSubheading {
                    font-size: 14px;
                  }
                }
              }
            }
          }
          .hostIntroduceBox {
            border-bottom: 1px solid gainsboro;

            .hostIntroduce {
              width: 80% !important;
              padding-top: 32px;
              padding-bottom: 48px;
              line-height: 24px !important; //행간
              word-break: break-word !important; //글이 길어질 때 줄바꿈
            }
          }

          .bedType {
            padding-top: 48px;
            padding-bottom: 48px;
            border-bottom: 1px solid gainsboro;

            .bedTitle {
              font-size: 22px;
              font-weight: 700;
              padding: 0px 0px 24px;
            }
          }

          .facilities {
            padding-top: 48px;
            padding-bottom: 48px;
            border-bottom: 1px solid gainsboro;
            .facilitiesTitleBox {
              .facilitiesTitle {
                font-size: 22px;
                font-weight: 700;
                padding: 0px 0px 24px;
              }

              .facilitiesContainer {
                display: flex;
                justify-content: flex-start;
                padding: 0px 0px 16px;

                .facilitiesBox {
                  .facilitiesIcon {
                    width: 24px;
                    height: 24px;
                    margin-right: 16px;
                  }
                }

                .item {
                  padding: 0px 0px 16px;
                }
              }
            }
          }
        }

        .calendarBox {
          background-color: pink;
          .calendar {
          }
        }

        .reviewBox {
          padding: 48px 0px;
          border-bottom: 1px solid gainsboro;
          border-top: 1px solid gainsboro;

          .review {
          }
          .reviewScoreTitle {
            display: flex;
            justify-self: flex-start;
            align-items: center;
            font-size: 22px;
            font-weight: bolder;
            padding-bottom: 32px;

            .reviewScoreTitleIcon {
              .reviewScoreIcon {
                width: 22px;
                height: 22px;
                margin-right: 8px !important;
              }
              .reviewScore {
                font-size: 22px;
                font-weight: bolder;
              }
            }
          }

          .checkList {
            width: 100px;
            height: fit-content;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 100%;
            grid-row-gap: 15px;
          }
        }

        .reviewGridBox {
          margin-top: 40px;
          display: grid;
          grid-gap: 22px 100px;
          grid-template-columns: 250px 250px;
          padding: 10px;
        }

        .clickBtn.clickBtn.reviewBtn {
          margin-top: 30px;
        }

        .mapBox {
          border-bottom: 1px solid gainsboro;
          padding: 48px 0px;
          .mapTitle {
            font-size: 22px;
            font-weight: 700;
            padding: 0px 0px 24px;
            border-bottom: 1px solid gainsboro;
          }

          .roomDetailMap {
            .mapImg {
              width: 1128px;
              height: 480px;
              margin-bottom: 32px;
            }
          }

          .nomination {
            margin-bottom: 32px;
            font-weight: 700;
          }

          .nominationExplanation {
            width: 41.6667% !important;
            margin-bottom: 32px;
          }

          .mapBtn {
            margin-bottom: 48px;
          }
        }

        .hostIntroductionBox {
          display: flex;
          justify-content: flex-start;
          padding: 25px 0px;
          border-bottom: 1px solid gainsboro;

          .hostIntroduction {
            .hostBox {
              margin-bottom: 24px;

              .hostBoxLine {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin-bottom: 20px;
                .hostImgBox {
                  margin-right: 16px;

                  .hostImg {
                    width: 64px;
                    height: 64px;
                    border-radius: 30px;
                  }
                }

                .hostNameSignDate {
                  .hostName {
                    font-size: 22px;
                    font-weight: 700;
                  }
                  .signDate {
                    font-size: 14px;
                    margin-top: 8px;
                  }
                }
              }

              .hostContainerLine {
                display: flex;
                justify-content: space-between;
                .hostContainerBig {
                  width: 41.6667% !important;
                  .hostContainer {
                    .hostIntroductionLine {
                      display: flex;
                      justify-content: flex-start;
                      margin-bottom: 24px;

                      .starIcon {
                        width: 16px;
                        height: 16px;
                        margin-right: 10px;
                      }

                      .certificationIcon {
                        width: 16px;
                        height: 16px;
                        margin-right: 10px;
                        margin-left: 40px;
                      }

                      .hostIntroductionMiniBox {
                        margin-bottom: 24px;
                      }
                    }
                  }

                  .superHostContainer {
                    display: flex;
                    flex-direction: column;
                    margin: 20px 0px;

                    .superHost {
                      font-weight: 700;
                    }
                    .superHostMeaning {
                      margin-top: 10px;
                    }
                  }
                }

                .hostContainerSmall {
                  width: 41.6667% !important;
                  margin-left: 8.33333% !important;
                  .hostBoxItem {
                    margin-bottom: 16px;
                  }
                  .responseRate {
                    margin-bottom: 16px;
                  }

                  .responseTime {
                    margin-bottom: 16px;
                  }
                  .clickBtn {
                    margin-bottom: 16px;
                  }

                  .hostText {
                    margin-bottom: 16px;
                    font-size: 12px;
                  }
                }
              }
            }
          }
        }
      }
    }

    .precautionsFooter {
      display: flex;
      justify-content: center;
      padding: 48px 0px;

      .precautions {
        display: flex;
        flex-direction: column;
        padding-left: 80px;
        padding-right: 80px;
        max-width: 1280px;

        .important {
          font-weight: 700;
          font-size: 22px;
          margin-bottom: 20px;
        }

        .importantBox {
          display: flex;
          justify-content: space-between;

          .importantBoxItem {
            width: 41.6667% !important;
            .roomRule {
              font-weight: 700;
              font-size: 22px;
              margin-bottom: 20px;
            }

            .safety {
              font-weight: 700;
              font-size: 22px;
              margin-bottom: 20px;
            }

            .refundPolicy {
              font-weight: 700;
              font-size: 22px;
              margin-bottom: 20px;
            }
          }
        }
      }
    }
  }
}
