@import "../../styles/common.scss";

.checkList {
  width: 100px;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 100%;
  grid-row-gap: 15px;

  .checkListBox {
    height: 20px;
    display: flex;
    justify-content: flex-start;

    .checkListText {
      width: 100% !important;
      overflow: hidden !important;
      text-overflow: ellipsis !important;
      white-space: nowrap !important;
      .checkListName {
        // width: 100% !important;

        width: 250px;
      }
    }
    .checkListScoreBox {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      -webkit-box-align: center !important;
      -webkit-box-direction: normal !important;
      -webkit-box-orient: horizontal !important;
      display: flex !important;
      flex-direction: row !important;
      align-items: center !important;
      margin-left: 12px !important;
      width: 75% !important;
      .checkListScoreLine {
      }

      .checkListScore {
        margin-left: 7px !important;
      }
    }
  }
}
