@import "../../styles/common.scss";

.UserReview {
  margin: 20px 0px;
  .gridItem {
    font-size: 30px;

    .reviewContainer {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .userImg {
        width: 56px;
        height: 56px;
        border-radius: 30px;
        margin-right: 10px;
      }

      .userName {
        font-weight: 700;
        font-size: 16px;
        margin-bottom: 3px;
      }

      .userDate {
        font-size: 14px;
      }
    }

    .userComments {
      font-size: 16px;
      margin-top: 13px;
      margin-bottom: 5px;
    }
  }
}
